{$ (use ../code/globals) $}

<footer class="page-footer {{ color-secondary }}">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="{{ text-secondary }}">Quick Contact</h5>
        <p class="{{ text-primary }}">Address: Iran, Gilan, Langroud, Daryasar</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="{{ text-secondary }}">info</h5>
        <ul>
          <li><a class="{{ text-primary }}" href="#!">tel: +981342581744</a></li>
          <li><a class="{{ text-primary }}" href="mailto:support@paromatics.com">mail: support@paromatics.com</a></li>
          <li><a class="{{ text-primary }}" href="https://twitter/paromatics">twitter: @paromatics</a></li>          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container {{ text-primary }}">
    © 2020 Copyright Text
    <a class="{{ text-primary }} right" href="#!">persian aromatic inc.</a>
    </div>
  </div>
</footer>